<div class="container">
    <hr>
    <div class="labor-relations uniform">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <img src="assets/images/g-logo.png" alt="">
            </div>
            <div class="col-md-6 col-sm-12">
                <h3>HR Services Consultancy</h3>
                <p>To avoid the quagmire of Kenyan labour laws, you need to get the basics right: At Goldspace Consulting we will take away the worry of dealing with industrial relations issues. We offer advice, guidance and the assistance you need to take swift and appropriate action, fairly and within the bounds of the Kenyan labour law. You focus on running and building your business with the peace of mind knowing that Goldspace Consulting Consultants expertise is on hand to assist you with any industrial relations challenges. Main areas include;</p>
            </div>
        </div>
        <h3>Services Available</h3>
       
        <ul>
            <li>Legal Compliance – HR Policies and Procedures including Disciplinary and Grievance, Redundancy and Dismissal, Contracts of Employment, Employee Handbooks. We formulate, enhance and make them effective.</li>
            <li>HR Administration - the paperwork that has to support your processes, policies and procedures is critical as well</li>
            <li>Employee Relations - your organization's relationship and management style of staff is critical and sometimes needs some support</li>
            <li>Disciplinary Matters - sometimes it's just better to part ways, we assist with these situations.</li>
            <li>Performance management - the performance of employees contributes to the goals of their teams and the business.</li>
            <li>Occupational Safety and Health – your workplace should meet statutory requirements and be safe for employees to work.</li>
            <li>Business Effectiveness and HR Audit – by completing one or more of our complimentary HR Audit questionnaires we can help you to identify your businesses’ strengths and weaknesses </li>
            <li>Skills development – training is an important component to ensure employees’ skills are developed to match with the changing needs of your organization</li>
        </ul>
    </div>

    <hr>

    <div class="recruitment-Services uniform">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <img src="assets/images/g-logo.png" alt="">
            </div>
            <div class="col-md-6 col-sm-12">
                <h3>Training and Team Building</h3>
                <p>We provide business with soft skills training in the areas of management, leadership, frontline and personal skills.

                    Our facilitators are all practicing specialists in their fields with sound academic backgrounds; this ensures that our customers have access to extensive experience and up-dated expertise. We place a high premium on their ability to relate knowledge and facilitate practical learning, ensuring that employees are able to apply what they have learnt when they return to the workplace.
                    Our main focus is on-site training; this enables companies to develop their staff on the issues and skills relevant to their business. However, as there are always one or two people within an organization who need individual training or have recently joined the company, we also present ad-hoc public training courses from time to time.
                    
                    In keeping with our aim to provide companies and people with relevant and up-dated training, and to develop the individual's ability to grow the company, we emphasize the importance of assessing the real training needs within an organization. For this purpose we consult extensively with all our clients and are able to conduct accurate training needs analysis within any organization. 
                    </p>
            </div>
        </div>
        <!-- <h3>Services Available</h3>
        <h6>We can help you with your one-off appointments or major recruitment drives by completing the whole process or a part of the process:</h6>
        <ul>
            <li>Designing Job Descriptions</li>
            <li>Benchmarking Salaries</li>
            <li>Recommending most appropriate Advertising Methods</li>
            <li>Designing Advertisements</li>
            <li>Placing Advertisements</li>
            <li>Candidate Screening, Profiling & Interviewing</li>
            <li>Short Listing of applicants</li>
            <li>Psychometric Assessments</li>
            <li>Pre-employment checks such as ITC, Criminal & Qualification Checks & Telephonic Reference Checks.</li>
            <li>Contract of Employment</li>
            <li>Design of Induction Training</li>
            <li>Head Hunting</li>
            <li>Assisting Corporate Clients with an Applicant Tracking System (ATS) to manage their own Recruitment process</li>
        </ul> -->
    </div>

    <hr>

    <div class="hr-outsourcing uniform">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <img src="assets/images/g-logo.png" alt="">
            </div>
            <div class="col-md-6 col-sm-12">
                <h3>Recruitment Services</h3>
                <p>People are the core of our human resources consultancy business, with our candidate base comprising the very best in talent and experience available in Kenya today.

                    Engaging Goldspace Consulting means you instantly benefit from first-rate expertise in the selection of skills and personalities in this competitive sector. Through our broad contact-base, expert screening and careful selection you’ll get to choose the kind of superior candidates that can elude even Kenya’s best known employers. And all this from a service that is already favored for being prompt, reliable and professional. 
                    As part of our service agreement, Goldspace Consulting promises full satisfaction of the following services:
                     </p>
            </div>
        </div>
        
         <h3>Services Available</h3>
        <h6>We can help you with your one-off appointments or major recruitment drives by completing the whole process or a part of the process:</h6>
        <ul>
            <li>We discuss our clients’ requirements in detail in order to provide profiles of the most suitable candidates for specific positions.</li>
            <li>We have refined our ability to identify outstanding candidates.</li>
            <li>We create and publish recruitment ads on various platforms and handle queries.</li>
            <li>We apply in-depth interviewing techniques, we screen and we reference check and present only the best.</li>
            <li>We facilitate final interviews with candidates and compile letters of appointment.</li>
            <li>We work in line with current labour legislation.</li>
            <li>We will, at a client’s request, conduct psychometric and skills testing</li>
            <li>We advise you on salary bands and market trends.</li>
        </ul>
        
    </div>

    <hr>

    <div class="cv-screening uniform">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <img src="assets/images/g-logo.png" alt="">
            </div>
            <div class="col-md-6 col-sm-12">
                <h3>Payroll-Management</h3>
                <p>We are pleased to introduce ourselves as one of the professional consultant for Payroll Management and Administration. Goldspace Consulting takes care of all the Payroll processing requirements. We provide simple and convenient ways to pay salary to the employees and file tax returns in time. We guarantee precision and timeliness at every stage of processing. </p>
            </div>
        </div>
        <h3>Save to organization</h3>
       
        <ul >
            <li >Worries about confidentiality and accuracy of your company payroll</li>
            <li>Increased costs in processing payroll</li>
            <li>Problems with statutory returns and tax liabilities</li>
            <li>Running out of time in the core business.</li>
          
        </ul>
        <h3>Solutions to organization</h3>
       
        <ul >
            <li >Generation of monthly payroll reports</li>
            <li>Generate branded payslips</li>
            <li>Define and assign loans to employee deductions</li>
            <li>Apply tax relief on life assurance, mortgage and pensions</li>
            <li>Calculate statutory deductions, i.e. NSSF, NHIF and PAYE.</li>
            <li>Process and submit various statutory deductions.</li>
            <li>Generate P9 and P10 forms</li>
          
        </ul>
    </div>

    <hr>

    <div class="hr-policy uniform">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <img src="assets/images/g-logo.png" alt="">
            </div>
            <div class="col-md-6 col-sm-12">
                <h3>Staff/labor outsourcing</h3>
                <p>As business needs are changing on a daily basis, and particularly in uncertain times like the ones we are facing today, Goldspace Consulting offer a flexible, cost effective alternative through an outsourced workforce.

                    We are responsible for the calculation of wages, payment thereof, and all other legislated requirements i.e. PAYE, NSSF, NHIF, Training Levy (NITA), etc. We offer a full-outsourced function, so the client will only worry about increased productivity in their business. 
                    
                    Our focus is on the maximization of profit for our clients as they are able to concentrate on their core business, and not waste time on labour related issues. 
                    
                    The contracts we offer to our employees are flexible in duration and as a result are also cost-variable, dependent on your needs. Another benefit to our clients is their saving in legal costs relating to the labour. As we have many years' experience in this field, we also save our clients' money by avoiding costly mistakes in the process of handling disciplinary investigations. 
                    
                    The employees are employed by Goldspace Consulting, although they work on our client’s site and under the direct supervision of our client. 
                    </p>
            </div>
        </div>
        <h3>Benefits to the Customer</h3>
        <p>We understand the vital role that each employee plays in development and productivity of any organization. In that we facilitate and work with our clients to. 
            Eliminate the financial burden of Extra staff when you don’t need them. We screen the employees, making sure they suit your requirements.
            </p>
       
        <ul >
            <li>No time spent recruiting, selecting and referencing staff</li>
            <li>No hassle with statutory registrations and payments</li>
            <li>No more disciplinary hearing or CCMA meetings</li>
            <li>Eliminate weekly or monthly payroll hassles</li>
            <li>No longer be saddled with unproductive staff</li>
            <li>We provide training tailored to your standards</li>
          
        </ul>
        <p>We pride ourselves in managing our staff admin and wages most efficiently and timeously so that payments are correct and on time and that all other HR functions are performed professionally. 

            The above would reduce costs, more productive staff members, stable workforce, less shrinkage & breakage, greater efficiency, no disciplinary problems & more time to focus on core business that lead to More Profit and Peace of Mind
            </p>
    </div>
    
    <hr>

    
    
</div>
