<div class="container">
    <hr>
    <div class="labor-relations uniform">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <img src="assets/images/g-logo.png" alt="">
            </div>
            <div class="col-md-6 col-sm-12">
                <h3>Labour Relations Services</h3>
                <p>In light of the complex but necessary Labour Legislation, it has become essential rather 
                    than optional to acquire dependable and effective Labour Relations support. We are able to
                     guide our clients and their businesses through all the labour Legislations processes. Ensure
                      compliance with statutory legislation, assume responsibility of our client’s Labour
                       Relations management and assist them with their Industrial Relations obligations.</p>
            </div>
        </div>
        <h3>Services Available</h3>
       
        <ul>
            <li>Advice on all Labour Relations issues such as Employment Contracts, Preparation of Disciplinaries, Basic Conditions of Employment and Labour Relations Acts.</li>
            <li>Development of Disciplinary Codes and Procedures</li>
            <li>Handling and Chairing of Disciplinary Enquiries</li>
            <li>CCMA representation</li>
            <li>Retrenchments</li>
            <li>Wage Negotiations</li>
        </ul>
    </div>

    <hr>

    <div class="recruitment-Services uniform">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <img src="assets/images/g-logo.png" alt="">
            </div>
            <div class="col-md-6 col-sm-12">
                <h3>Recruitment Services</h3>
                <p>GoldSpace Consulting has specialist recruiters onboard as well as the ability to network with other recruitment agencies in order to find the exact business fit for you. For us it is not a volumes game. Our aim is to fully understand your business’ culture before we start sending any candidates. Therefore recruiting on attitude and aptitude rather than just experience and qualifications, is key. 

                    GoldSpace Consulting provides the complete end to end recruitment function to clients. We are committed to providing the best possible candidate match with the requirements of your organisation.</p>
            </div>
        </div>
        <h3>Services Available</h3>
        <h6>We can help you with your one-off appointments or major recruitment drives by completing the whole process or a part of the process:</h6>
        <ul>
            <li>Designing Job Descriptions</li>
            <li>Benchmarking Salaries</li>
            <li>Recommending most appropriate Advertising Methods</li>
            <li>Designing Advertisements</li>
            <li>Placing Advertisements</li>
            <li>Candidate Screening, Profiling & Interviewing</li>
            <li>Short Listing of applicants</li>
            <li>Psychometric Assessments</li>
            <li>Pre-employment checks such as ITC, Criminal & Qualification Checks & Telephonic Reference Checks.</li>
            <li>Contract of Employment</li>
            <li>Design of Induction Training</li>
            <li>Head Hunting</li>
            <li>Assisting Corporate Clients with an Applicant Tracking System (ATS) to manage their own Recruitment process</li>
        </ul>
    </div>

    <hr>

    <div class="hr-outsourcing uniform">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <img src="assets/images/g-logo.png" alt="">
            </div>
            <div class="col-md-6 col-sm-12">
                <h3>HR Outsourcing</h3>
                <p>GoldSpace Consulting provides reliable high quality HR management and administration outsourcing, planning and implementation to help your organisation increase efficiency, improve service levels, and reduce operating costs. By offloading core management and HR administration to GoldSpace Consulting, your organisation can focus on those strategic issues that support the core business. By starting off conducting a Human Resource audit in order to assess what needs urgent attention, GoldSpace Consulting will assist in getting your company compliant with current labour legislation. </p>
            </div>
        </div>
        <p>Good HR Services needs to be supported by effective and efficient human resource administration and a reliable online HR Management system. Effective and efficient Human Resource Management can be best achieved through the implementation of a computerized human resources system that supports all the human resource administrative activities such as leave administration, performance management, and training & skills development. We can assist corporate clients to implement a system, customised to their business needs. </p>
        
    </div>

    <hr>

    <div class="cv-screening uniform">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <img src="assets/images/g-logo.png" alt="">
            </div>
            <div class="col-md-6 col-sm-12">
                <h3>CV Screening & Response Handling</h3>
                <p>Many organisations these days prefer to source their own candidates for vacancies, however, the sheer number of applications received can result in a huge strain on an organisation’s resources, often distracting key personnel from their crucial day-to-day tasks.

                    GoldSpace Consulting can assist your organisation with the screening process.
                    
                    We can provide outsourced screening solutions, thus allowing clients who create their own candidate pool, to focus on their core business. </p>
            </div>
        </div>
    </div>

    <hr>

    <div class="hr-policy uniform">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <img src="assets/images/g-logo.png" alt="">
            </div>
            <div class="col-md-6 col-sm-12">
                <h3>HR Policy & Procedure Writing</h3>
                <p>GoldSpace Consulting can provide you with the option of taking away all of the hassle, additional work and cost associated with the development of your policies, procedures and Employment contracts. will review all current policies and implement a set of policies, procedures and employment contracts that are unique to your organisation and developed around your specific requirements and needs.</p>
            </div>
        </div>
        <h3>Services Available</h3>
       
        <ul >
            <li >Review existing HR Policies and Procedures</li>
            <li>Develop a new HR Policies and Procedures Manual</li>
            <li>Develop a communication and Implementation Plan</li>
            <li>Ensure HR Forms and Templates are available to all staff</li>
            <li>Collate and review terms of all individual employment contracts (Permanent and Fixed Term)</li>
            <li>Identify deficiencies and negotiate individual Contract amendments where necessary</li>
            <li>Identify contracts approaching End Of Term and negotiate extension where necessary</li>
            <li>General Labour Compliance</li>
            <li>Assistance and Policies for Workplace Readiness – Covid19 .</li>
            <li>Assistance with POPIA Implementation</li>
          
        </ul>
    </div>
    
    <hr>

    <div class="hr-projects uniform">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <img src="assets/images/g-logo.png" alt="">
            </div>
            <div class="col-md-6 col-sm-12">
                <h3>HR Projects</h3>
                <p>If you are frequently faced with the task of executing HR projects and programs but do not have the time, resources or specialist knowledge to carry these out, then we can help you..</p>
            </div>
        </div>
        <h3>We can assist you with:</h3>
       
        <ul >
            <li >Setting up a fully functional HR Department</li>
            <li>Employee Benefit Revision</li>
            <li>Reward and Recognition Programs</li>
            <li>Wellness programs</li>
            <li>Performance Appraisal Systems </li>
            <li>Salary Banding and Job Grading </li>
            <li>Job Description formulation </li>
            <li>Skills Development Submission </li>
            <li>Employment Equity Plans and Report Submissions</li>
            <li>Monthly / Weekly Payroll Processing</li>
            <li>Workplace Readiness Assistance – Covid-19</li>
            <li>POPIA Implementation </li>
          
        </ul>
    </div>
    
</div>
