<div class="container text-center">
    <div class="top">
        <h2> COMPANY SERVICES</h2>
        <h4>We provide a wide range of HR Services</h4>
        <p>Employing a full time HR professional is often beyond the means of many small businesses. Yet, the skills, knowledge and long-term cost savings that a Human Resource professional can bring to a business are vast. Goldspace Consulting will provide you with all the benefits of a Human Resource function at a fraction of the cost.
            Good people are vital to an organization's success. So at Goldspace Consulting, we actively advise clients how to keep their best talent – while letting those who are less valued move on.
            As HR specialists, we offer a fully outsourced HR department with bespoke solutions. We help with practical details – recruitment, employment contracts, managing absences and performance reviews. And we support you through those tricky situations, such as disciplinary proceedings and redundancies. Most importantly, we set you up to succeed by creating strong employer branding, retention and reward strategies.
            Combine your potential with our expertise. Together we’ll help ensure you and your colleagues focus on the best for your business.
            </p>
    </div>
    <div class="mid text-center">
        <h2>Our Mission</h2>
        <p>A professional firm of consulting specialists who provide results-oriented human resource systems, thereby contributing to our clients' profitability and management goals. </p>
    </div>
    
</div>


<app-services-top></app-services-top>
