<div class="container text-center">
    <div class="top">
        <h2>SERVICES</h2>
        <h4>We provide a wide range of HR Services</h4>
        <p>At GoldSpace Consulting we are committed to providing a range of HR Outsourcing
             solutions to assist you in reaching your business goals. We believe that people are a 
             company’s greatest asset and that good people management will result in a 
             productive and engaged team which would lead to a successful business.</p>
    </div>
    <div class="mid text-center">
        <h2>How can we help you?</h2>
        <p>How can we help you?
            Our aim is to provide cost effective services to let you focus on the core <br>
            functions of your business.   </p>
    </div>
    
</div>


<app-services-top></app-services-top>
