.container .top{
    margin-top: 5%;
}
.container .mid{
    margin-top: 5%;
}

.container .mid h2,
.container .top h2{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 2%;
}

.container .top h4{
    font-size: 30px;
    margin-bottom: 2%;
    font-weight: bold;
}
.container .mid p,
.container .top p{
    font-size: 30px;
    margin-bottom: 2%;
}

@media screen and (max-width: 600px) {
  .container>.mid>h2,
  .container>.top>h2,
  .container>.top>h3{
    font-size: 2rem;
  }
 
  .container>.mid>p,
  .container>.top>p{
    font-size: 1rem;
  }

}