<div class="container text-center">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <img src="/assets/images/croplogo.png" alt="" >
        </div>
        <div class="col-md-6 col-sm-12">
            <h3>Why Choose Us?</h3>
            <p>Our trained professionals will assist with the most recent HR trends as well 
                as give up to date Labour and HR Advice.</p>
                
                <div class="card shadow-lg p-3 mb-5 bg-white rounded" >
                    <!-- <div class="card-header">
                      Featured
                    </div> -->
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Result Oriented HR Projects</li>
                      <li class="list-group-item">Qualified & Trained Expert Support</li>
                      <li class="list-group-item">Experienced HR Professionals</li>
                      <li class="list-group-item">Up to Date Labour Advise</li>
                    </ul>
                  </div>

                <button class="btn btn-success">Contact Us</button>  
        </div>
    </div>
    
</div>
