<div class="container text-center">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <img src="/assets/images/croplogo.png" alt="" >
        </div>
        <div class="col-md-6 col-sm-12">
            <h3>Why Choose Us?</h3>
            <p>Our trained professionals will assist with the most recent HR trends as well 
                as give up to date Labour and HR Advice.</p>
                
                <div class="card shadow-lg p-3 mb-5 bg-white rounded" >
                    <!-- <div class="card-header">
                      Featured
                    </div> -->
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Job Search Services</li>
                      <li class="list-group-item">Resume Writing Services: </li>
                      <li class="list-group-item">Interview Preparation and Coaching: </li>
                      <li class="list-group-item">Job Matching Services: </li>
                      <li class="list-group-item">Personalized Career Coaching: </li>
                    </ul>
                  </div>
        </div>
    </div>
    
</div>
