<div class="business">
    <h3>How Can We Assist your <br> Business</h3>

    <p>Our aim, firstly is to provide cost effective HR services to let you focus on<br> the core functions of your business. </p>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 ">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="height: fit-content;">
                    <div class="card-body">
                      <h4 class="card-title">HR Services Consultancy</h4>
                      <p class="card-text">To avoid the quagmire of Kenyan labour laws, you need to get the basics right: At Goldspace Consulting we will take away the worry of dealing with industrial relations issues. We offer advice, guidance and the assistance you need to take swift and appropriate action, fairly and within the bounds of the Kenyan labour law</p>
                      <!-- <button class="btn btn-primary">Contact Us</button> -->
                    </div>
                  </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="height:fit-content;">
                    <div class="card-body">
                      <h4 class="card-title">Training and Team Building</h4>
                      <p class="card-text">We provide business with soft skills training in the areas of management, leadership, frontline and personal skills.

                        Our facilitators are all practicing specialists in their fields with sound academic backgrounds; this ensures that our customers have access to extensive experience and up-dated expertise. We place a high premium on their ability to relate knowledge and facilitate practical learning, ensuring that employees are able to apply what they have learnt when they return to the workplace.
                        </p>
                      <!-- <button class="btn btn-primary">Contact Us</button> -->
                    </div>
                  </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="height: fit-content;">
                    <div class="card-body">
                      <h4 class="card-title">Recruitment Services</h4>
                      <p class="card-text">Engaging Goldspace Consulting means you instantly benefit from first-rate expertise in the selection of skills and personalities in this competitive sector. Through our broad contact-base, expert screening and careful selection you’ll get to choose the kind of superior candidates that can elude even Kenya’s best known employers. And all this from a service that is already favored for being prompt, reliable and professional. </p>
                      <!-- <button class="btn btn-primary">Contact Us</button> -->
                    </div>
                  </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-sm-12 ">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="height: fit-content;">
                    <div class="card-body">
                      <h4 class="card-title">Payroll-Management</h4>
                      <p class="card-text">We are pleased to introduce ourselves as one of the professional consultant for Payroll Management and Administration. Goldspace Consulting takes care of all the Payroll processing requirements. We provide simple and convenient ways to pay salary to the employees and file tax returns in time. We guarantee precision and timeliness at every stage of processing.</p>
                      <!-- <button class="btn btn-primary">Contact Us</button> -->
                    </div>
                  </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="height: fit-content;">
                    <div class="card-body">
                      <h4 class="card-title">Staff/labor outsourcing</h4>
                      <p class="card-text">The contracts we offer to our employees are flexible in duration and as a result are also cost-variable, dependent on your needs. Another benefit to our clients is their saving in legal costs relating to the labour. As we have many years' experience in this field, we also save our clients' money by avoiding costly mistakes in the process of handling disciplinary investigations.</p>
                      <!-- <button class="btn btn-primary">Contact Us</button> -->
                    </div>
                  </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="height:fit-content;">
                    <div class="card-body">
                      <h4 class="card-title">Job Matching Services</h4>
                      <p class="card-text">Our job matching services connect job seekers with employers who are looking for their specific skills and experience. We work with a network of employers across various industries and locations to provide job seekers with access to the latest job opportunities. Our personalized job matching services help job seekers find the jobs that are the best fit for their unique skills, experience, and career goals.</p>
                      <!-- <button class="btn btn-primary">Contact Us</button> -->
                    </div>
                  </div>
            </div>
          </div>
    </div>
</div>
