<div class="business">
    <h3>How Can We Assist your <br> Business</h3>

    <p>Our aim, firstly is to provide cost effective HR services to let you focus on<br> the core functions of your business. </p>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 ">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="height: fit-content;">
                    <div class="card-body">
                      <h4 class="card-title">Recruitment</h4>
                      <p class="card-text">Clearleaf HR Consulting has specialist recruiters onboard. In addition we have the ability to network with other recruitment agencies in order to find the exact business fit for you.

                        We are Recruitment Generalists, therefore we recruit within various industries..</p>
                      <!-- <button class="btn btn-primary">Contact Us</button> -->
                    </div>
                  </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="height:fit-content;">
                    <div class="card-body">
                      <h4 class="card-title">Labour Relations</h4>
                      <p class="card-text">In light of the complex but necessary Labour Legislation, it has become essential rather than optional to acquire dependable and effective Labour Relations support.</p>
                      <!-- <button class="btn btn-primary">Contact Us</button> -->
                    </div>
                  </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="height: fit-content;">
                    <div class="card-body">
                      <h4 class="card-title">HR Outsourcing</h4>
                      <p class="card-text">Clearleaf HR Consulting provides reliable high quality HR management and administration outsourcing. Which includes planning and implementation to assist your organisation increase efficiency, improve service levels, and reduce operating costs.</p>
                      <!-- <button class="btn btn-primary">Contact Us</button> -->
                    </div>
                  </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-sm-12 ">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="height: fit-content;">
                    <div class="card-body">
                      <h4 class="card-title">CV Screening</h4>
                      <p class="card-text">Many organisations these days prefer to source their own candidates for vacancies. However, the sheer number of applications received can result in a huge strain on an organisation’s resources, often distracting key personnel from their crucial day-to-day tasks.</p>
                      <!-- <button class="btn btn-primary">Contact Us</button> -->
                    </div>
                  </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="height: fit-content;">
                    <div class="card-body">
                      <h4 class="card-title">HR Policy & Procedure Writing</h4>
                      <p class="card-text">Clearleaf HR Consulting can provide you with the option of taking away all of the hassle, additional work and cost associated with the development of your HR policies, procedures and Employment contracts.</p>
                      <!-- <button class="btn btn-primary">Contact Us</button> -->
                    </div>
                  </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="height:fit-content;">
                    <div class="card-body">
                      <h4 class="card-title">HR Projects</h4>
                      <p class="card-text">If you are frequently faced with the task of executing HR projects and programs but do not have the time, resources or specialist knowledge to carry these out, then we can help you.</p>
                      <!-- <button class="btn btn-primary">Contact Us</button> -->
                    </div>
                  </div>
            </div>
          </div>
    </div>
</div>
