<div class="cover">
  <div class="container ">
    <div class="top-body row text-center">
      <div class="col-md-6 col-sm-12">
        <h3 class="affordable">Affordable and flexible</h3>
        
        <p>
          At <b>GOLDSPACE CONSULTING</b>consultancy, we are committed to helping job seekers achieve their professional goals. We understand that every job seeker is unique, and we tailor our services to meet their individual needs. Our team is dedicated to providing exceptional customer service, and we are always available to answer any questions or concerns that job seekers may have.</p>

          <a href="mailto:info@goldspaceconsulting.co.ke"><button class="btn btn-success">Get In Touch</button></a>
        
      </div>
      <div class="col-md-6 col-sm-12 image">
        <img src="assets\images\goldspacelogo.jpg" alt="" >
      </div>
    </div>
  </div>
</div>
