.cover{
    /* background-color: black; */
    background-image: url("/assets/images/logo.png");
    background-repeat: no-repeat;
    color: white;
    font-weight: bold;
    /* opacity: 0.4; */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    background-position: center center;

  
}

.container{
    position: relative;
    /* height: 100vh !important; */
    padding: 10% 0;
}
.top-body{
    padding: 6% 0;
    clear: left;
    
}
.cover .container .top-body button{

    font-size: 30px;
    padding: 2% 6%;
    border-radius: 40px;
}

.cover .container .top-body .affordable{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 2%;
}
.cover .container .top-body .rec{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 2%;
}
.cover .container .top-body p{
    
    font-size: 30px;
    margin-bottom: 2%;
}