<div class="cover">
    <div class="container">
        <div class="top-body">
            <h3 class="affordable">Affordable and flexible</h3>
            <h3 class="rec">Recruitment & HR Services</h3>
            <p>Clearleaf HR Consulting provides a variety of Human Resources Services.
            <br> Our aim is to provide cost effective and flexible services to let you
            <br> focus on the core functions of your business.</p>
            <button class="btn btn-success">Get In Touch</button>
        </div>
        
    </div>
</div>



