<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Hr Consultancy</h3>
    </div>

    <ul class="list-unstyled components">
      <!-- <p>My Menu</p> -->
      <!-- <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">Home 1</a>
                    </li>
                    <li>
                        <a href="#">Home 2</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                </ul>
            </li> -->
      <li>
        <a (click)="navigateToDashBoard()">DashBoard</a>
      </li>
      <!-- <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">Page 1</a>
                    </li>
                    <li>
                        <a href="#">Page 2</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li> -->
      <li>
        <a (click)="navigateToRegister()">Add User</a>
      </li>
      <!-- <li>
                <a href="#">Contact</a>
            </li> -->
    </ul>

    <ul class="list-unstyled CTAs">
      <li>
        <a class="download" (click)="logout()">Logout</a>
      </li>
      <li>
        <a class="article" (click)="redirectToHome()">Back Website</a>
      </li>
    </ul>
  </nav>

  <!-- Page Content  -->
  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn btn-info">
          <i class="fas fa-align-left"></i>
          <span>Toggle Sidebar</span>
        </button>
        <button
          class="btn btn-dark d-inline-block d-lg-none ml-auto"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-align-justify"></i>
        </button>

        <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Page</a>
                        </li>
                    </ul>
                </div> -->
      </div>
    </nav>

    <!-- page inputs from here -->
    <div class="container-fluid">
      <button class="btn btn-success m-3" (click)="toggleForm()">
        Create New User
      </button>

      <form #myForm style="display: none" (ngSubmit)="registerUser()">
        <div class="form-group">
          <label for="exampleFormControlInput1">Email address</label>
          <input
            type="text" 
            class="form-control  m-3"
            id="exampleFormControlInput1"
            placeholder="name@example.com" [(ngModel)]="email" name="email"/>
        </div>
        <button class="btn btn-success m-3" type="submit">Register User</button>
        
      </form>

      <div class="row">
        <!-- card -->
        <div class="col-md-4 col-sm-12" *ngFor="let user of users">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="height:fit-content">
                <div class="card-body" >
                  <ul>
                    <li >
                      <p>{{ user.email }}</p>
                      <div *ngIf="user.active == 1">
                        Active
                      </div>
                      <div *ngIf="user.active == 0">
                        Not Active
                      </div>
                      <button class="btn btn-danger m-2"(click)="deleteuser(user.id)">Delete User</button>
                    </li>
                  </ul>
              </div>
        </div>
      </div>

        <!-- end-card -->
      </div>
    </div>
  </div>
</div>
