.container{
    margin-top: 5%;
}
.container .row{
    margin-top: 5%;
}
.container>h2{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 2%;
}

.container>h3{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 2%;
}
.container>p{
    font-size: 30px;
}
.container .row .col-md-4 .card .card-body h3{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 2%;
}

.container .row .col-md-4 .card .card-body p{
    font-size: 20px;
    margin-bottom: 2%;
}
.container .row .col-md-4 .card .card-body ul{
    font-size: 20px;
    margin-bottom: 2%;
}

@media screen and (max-width: 600px) {
    .container>h2,
    .container>h3{
        font-size: 2rem;
    }
    .container>p{
        font-size: 1rem;
    }
    .container>.row>.col-md-4>.card>.card-body>h3{
        font-size: 2rem;
    }
    .container>.row>.col-md-4>.card>.card-body>p{
        font-size: 1rem;
    }
    .container>.row>.col-md-4>.card>.card-body>ul>li{
        font-size: 1rem;
    }
   
  }