
<div class="container text-center">
        <h2 >ABOUT US</h2>
        <h3>Welcome to GoldSpace Consulting</h3>
        <p>Goldspace Consulting is a Human Resource Consultancy which offers a flexible, professional and cost effective service that provides practical, clear advice and guidance, compliant with current Labor laws and best practice. Based in Nairobi, we provide on/off site HR support to a wide range of small and medium sized businesses based across the East African region.
          Our focus is on providing clear, straightforward, flexible and effective HR support relevant to your business. We can provide you with a wide range of services tailored to your individual requirements. Whether you require ad-hoc, on demand, advice and support or help with a specific HR project, we are here to help. We also have a great range of HR Starter Packages specifically designed with small businesses in mind – they contain everything you will need to get your HR started.
          </p>


        <div class="row">
            <div class="col-md-4 col-sm-12 ">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="height: 25rem;">
                    <div class="card-body">
                      <h3 class="card-title">Our Vision</h3>
                      <p class="card-text">To become the most preferred and recognized Human Resource consulting firm for small and medium size firms. 
                        </p>
                      <!-- <button class="btn btn-primary">Contact Us</button> -->
                    </div>
                  </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="height: 25rem;">
                    <div class="card-body">
                        <h3 class="card-title">Our Mission</h3>
                      <p class="card-text">A professional firm of consulting specialists who provide results-oriented human resource systems, thereby contributing to our clients' profitability and management goals. </p>
                      <!-- <button class="btn btn-primary">Contact Us</button> -->
                    </div>
                  </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="height: 25rem;">
                    <div class="card-body">
                      <h3 class="card-title">What We Do</h3>
                      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                      <ul>
                        <li>HR Services Consultancy</li>
                        <li>Training and Team Building</li>
                        <li>Recruitment Services</li>
                        <li>Payroll-Management</li>
                        <li>Staff/labor outsourcing</li>
                      </ul>
                      <!-- <button class="btn btn-primary">Contact Us</button> -->
                    </div>
                  </div>
            </div>
          </div>
</div>


