
<div class="container text-center">
        <h2 >ABOUT US</h2>
        <h3>Welcome to GoldSpace Consulting</h3>
        <p>We provide a variety of Human Resources services as well as HR Outsourcing <br>
        Services. Our aim is to provide Affordable and flexible HR services to let you<br>
        focus on the core functions of your business.</p>


        <div class="row">
            <div class="col-md-4 col-sm-12 ">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="height: 25rem;">
                    <div class="card-body">
                      <h3 class="card-title">Who Are We</h3>
                      <p class="card-text">Established in 2018, GoldSpace Consulting is committed to provide a range of solutions to assist you in reaching your HR business goals. We believe that people are a company’s greatest asset and that good people management will result in a productive and engaged team which would lead to a successful business.</p>
                      <!-- <button class="btn btn-primary">Contact Us</button> -->
                    </div>
                  </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="height: 25rem;">
                    <div class="card-body">
                        <h3 class="card-title">Our Mission</h3>
                      <p class="card-text">Our aim is to provide cost effective HR services to let you focus on the core functions of your business. </p>
                      <!-- <button class="btn btn-primary">Contact Us</button> -->
                    </div>
                  </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="height: 25rem;">
                    <div class="card-body">
                      <h3 class="card-title">What We Do</h3>
                      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                      <ul>
                        <li>Recruitment</li>
                        <li>Labour Relations</li>
                        <li>HR Outsourcing</li>
                        <li>CVS creening</li>
                        <li>HR Policy & Procedure Writing</li>
                        <li>HR Projects</li>
                      </ul>
                      <!-- <button class="btn btn-primary">Contact Us</button> -->
                    </div>
                  </div>
            </div>
          </div>
</div>


